<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bit.css'%}">
    
  
<title>Herald College Kathmandu</title>
</head>
<body>
  <div class="logo"><img src="{% static 'images/logo.png' %}"width="300" height="80">
  </div>
  <div class="topnav" id="navbar">
     
    
  <a href="home.html">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="bit.html">BIT</a>
      <a href="bibm.html">BIBM</a>
    </div>
  </div> 
  <a href="events.html">Events</a>
  <a href="galleries.html">Galleries</a>
  
  <a href="contact.html">Contact</a>
  
</div>

<div class="main">
  <div class="text-block">
    <div class="block">
  <h2>Bachelor in Computer Science</h2>
</div>
<div class="block">
  <img src="{% static 'images/bit.png' %}">
</div>
</div>
  <p>This programme aims to provide students with the knowledge of core principles of computer science by combining it with modern computer languages, tools, techniques, and methodologies used by computer professional all over the world. Students will be able to develop and enhance themselves as a programmer, along with problem solving skills. You will learn how to develop software that meets client needs and will have the opportunity to develop a piece of software for your final project. This BIT in computing course provides an excellent stepping stone to allow you to move directly into a career in Computing.</p>
</div>






<!-- three columns -->
<div class="row">
  <div class="column" onclick="openTab('b1');" style="background:#e37d74;">
    Year 1
  </div>
  <div class="column" onclick="openTab('b2');" style="background:#7c94d9;">
    Year 2
  </div>
  <div class="column" onclick="openTab('b3');" style="background:#a35f94;">
    Year 3
  </div>
</div>

  <div id="b1" class="containerTab" style="display:none;background:#e37d74">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <h2>Level 4</h2>
  <p>
    {% for x in bit_Year_1 %}
 <li> {{x.course_code}}:{{x.course_name}}</li>
 {% endfor %}
  </p>
</div>

<div id="b2" class="containerTab" style="display:none;background:#7c94d9">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <h2>Level 5</h2>
   {% for x in bit_Year_2 %}
 <li> {{x.course_code}}:{{x.course_name}}</li>
 {% endfor %}
  </p>
 </div> 

<div id="b3" class="containerTab" style="display:none;background:#a35f94;">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <h2>Level 6</h2>
  {% for x in bit_Year_3 %}
 <li> {{x.course_code}}:{{x.course_name}}</li>
 {% endfor %}
  </p>
</div>

<script src="{% static 'js/bit.js' %}" type="text/javascript"></script>
</body>
</html>