<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
  
  <title>Herald College Kathmandu</title>
</head>
<body>
  <div class="logo">
      <img src="{% static 'images/logo.png' %}">
    </div>
  

   
  <div class="topnav" id="navbar">
     
    
  <a href="home.html">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Courses 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="bit.html">BIT</a>
      <a href="bibm.html">BIBM</a>
    </div>
  </div> 
  <a href="events.html">Events</a>
  <a href="galleries.html">Galleries</a>
  
  <a href="contact us.html">Contact Us</a>
  
</div>



<div class="content">
<div class="slideshow-container">

<div class="mySlides fade">
  <img src="{% static 'images/summer.jpg' %}" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="{% static 'images/student.jpg' %}" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="{% static 'images/hall.jpg' %}" style="width:100%">
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
</div>
<!----
<div class="preview">
  <div class="detail1" style="background-color: #414040;">
    <h2>ACADEMIC</h2>
    <p>Teaching facilities and infrastructure meet the international standards.<br>Bachelor degree certificate from the University of Wolverhampton.</p>
  </div>
  <div class="detail2" style="background-image: url(images/bit.png)" style="width: 100%";>
  </div>
  <div class="detail3" style="background-image: url(images/bibm.png);">
  </div>
  <div class="detail1" style="background-color:#414040;">
    <h2>RECOGNITION</h2>
    <p>Direct partners of a prestigious UK University, with international faculties approved by the relevant awarding bodies (i.e., University of Wolverhampton).</p>
  </div>
</div>------>



<script src="{% static 'js/home.js' %}" type="text/javascript">></script>



</body>
</html>